a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の写真部分 */
.home-image {
  width: 100vw;
  text-align: center;
  position: relative;
  padding: 20px;
}

.home-title {
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  top: 82%;
  left: 28%;
  font-size: 6vh;
}
/* //画面上部の写真部分 */

/* おすすめ商品 */
.home-recommend-item {
  padding-top: 2.5vw;
}

.recommend-item-title {
  text-align: center;
  font-size: 3.5vh;
}

.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightsteelblue;
  padding: 2.5vw;
}

.card {
  margin-right: 20px;
}

.card-link {
  color: #333333;
}
/* //おすすめ商品 */

/* 新入荷商品 */
.home-new-item {
  padding: 2.5vw;
}

.new-item-title {
  text-align: center;
  font-size: 3.5vh;
}
/* //新入荷商品 */

/* 特集・季節限定 */
.topic-item-title {
  text-align: center;
  font-size: 3.5vh;
}
/* //特集・季節限定 */

/* お酒を探す */
.home-search-item {
  padding: 2.5vw;
}
.search-item-title {
  text-align: center;
  font-size: 3.5vh;
}

.card-body h5 {
  color: #fff;;
  text-align: center;
}
/* //お酒を探す */
