* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 15vw;
  border-bottom: solid 1px #f7f7f7;
}

/* ユーザー名表示 */
.user-name {
  text-align: right;
}

.user-nickname {
  text-decoration: none;
  margin-right: 1vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
  line-height: 32px;
}

.login {
  color: #fff;
}

.login:hover {
  text-decoration: none;
  color: #fff;
}
/* ユーザー名表示 */

.header-container {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  width: 11vw;
  height: 11vh;
}

/* グロナビ */
.header-nav {
  line-height: 90px;
  font-size: 18px;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.item-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.new-item-list {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.trial-list {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.kuramoto-list {
  text-decoration: none;
  color: #333333;
  margin-right: 3vw;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
/* グロナビ */

/* ヘッダー左（ボタン） */
.header-btn {
  line-height: 90px;
}

.btn-list {
  display: flex;
}

.btn-list a {
  color: #333333;
}
/* ヘッダー左（ボタン） */