.heart-icon {
  font-size: 6em;
  margin-right: 3px;
  color: crimson;
}

.delete-favorite-btn {
  color: crimson;
}

.delete-favorite {
  color: crimson;
}

.delete-favorite:hover {
  text-decoration: none;
  color: #333333;
}

.add-favorite-btn {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  padding-left: 10%;
}

.add-favorite {
  color: #333333;
}

.add-favorite:hover {
  text-decoration: none;
  color: crimson;
}