.main {
  background: #f8f8f8;
}

/* 商品一覧部分 */
.item-title-contents {
  width: 100vw;
  display: flex;
  padding: 2vh 15vw;
}

.menu-title {
  color: #333333;
  font-size: 32px;
  padding: 2px;
}

.add-item {
  margin-left: 5vw;
}

.list {
  list-style-type: none;
}

.item-column {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 1em;
  margin: 2em 20em;
  font-weight: bold;
  color: #333333;/*文字色*/
  background: #FFF;
  border: solid 1px #333333;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.item-name {
  font-size: 25px;
}

.heart-icon {
  font-size: 0.9em;
}