.main {
  background: #f8f8f8;
}

/* 商品一覧部分 */
.item-title-contents {
  width: 100vw;
  display: flex;
  padding: 2vh 15vw;
}

.menu-title {
  color: #333333;
  font-size: 32px;
  padding: 2px;
}

.add-item {
  margin-left: 5vw;
}

.list {
  list-style-type: none;
}

.item-column {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 2em 20em;
  background: #FFF;
  border: solid 1px #333333;
  border-radius: 10px;
}

.sold-out-column {
  background-color: lightgray;
}

.item-name {
  font-size: 25px;
  color: #333333;
  font-weight: bold;
}

.item-info {
  color: #333333;
  width: 80%;
  margin-top: 5px;
}

.item-price {
  color: #333333;
  font-weight: bold;
}

.heart-icon {
  font-size: 0.9em;
}