/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-bottom: 10px;
}

.sold-out {
  width: 100%;
  background-color: lightgray;
}

.sold-out-title {
  font-weight: bold;
  font-size: large;
  display: block;
  text-align: center;  
}

.item-top {
  display: flex;
  justify-content: space-around;
}

.item-left {
  padding-right: 10px;
}

.item-box-img {
  height: 10vh;
  width: 20vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-right>.name {
  text-align: center;
  font-weight: bold;
  font-size: 5vh;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
}

.item-price-box>.item-price-name {
  font-size: 2vh;
  font-weight: normal;
}

.item-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box>.item-postage {
  font-size: 16px;
}

.item-grey-btn {
  display: inline-block;
  background-color: #333333;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  width: 12vw;
  min-width: 200px;
  border-radius: 10px;
}

.or-text {
  font-size: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 10px;
  width: 12vw;
  min-width: 200px;
  color: #CC0000;
  border: 2px solid #CC0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-heart-icon {
  margin-right: 3px;
}

.item-explain-box{
  font-size: 18px;
  margin: 40px 0 40px 20px;
}

.item-explain {
  font-weight: bold;
  border-bottom: 1px solid #333333;
}

.detail-table {
  margin: 30px 0;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

/* /商品の概要 */

/* レビュー表示欄 */
.review-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  margin-top: 2vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-title {
  font-weight: bold;
  padding: 2vh 2vw;
}

.review-info {
  margin-top: 10px;
}

.review-container {
  width: 50vw;
  margin-bottom: 20px;
  border-bottom: 1px dashed #333333;
}

.review-item p{
  text-align: left;
  font-weight: bold;
}

.user-menu {
  margin-bottom: 10px;
}

.no-review {
  margin-top: 10px;
  font-weight: bold;
}

.caution {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}
/* /レビュー表示欄/ */